- name: Deploy SocialPredict To Staging
  hosts: digital_ocean
  gather_facts: false
  become: true
  vars:
    db_pass: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters') }}"

  tasks:
    - name: Check if .env file exists
      ansible.builtin.stat:
        path: /opt/socialpredict/.env
      register: env_file

    - name: Get Docker Images
      community.docker.docker_host_info:
        images: true
      register: image_info

    - name: Stop old containers
      ansible.builtin.command:
        cmd: /usr/bin/docker compose --env-file /opt/socialpredict/.env --file /opt/socialpredict/scripts/docker-compose-prod.yaml down -v
      register: stop_output
      changed_when: stop_output.rc == 0
      when: env_file.stat.islnk is defined

    - name: Delete Old Images
      community.docker.docker_image:
        name: "{{ item.RepoTags | first }}"
        state: absent
      when: item.RepoTags is search('socialpredict-staging-frontend:latest') or item.RepoTags is search('socialpredict-staging-backend:latest')
      loop: "{{ image_info.images }}"
      loop_control:
        label: "{{ item.RepoTags | first }}"

    - name: Pull code from repository's main branch
      ansible.builtin.git:
        repo: 'https://github.com/openpredictionmarkets/socialpredict'
        dest: /opt/socialpredict
        single_branch: true
        version: main

    - name: Initialize Application
      ansible.builtin.command:
        cmd: /opt/socialpredict/SocialPredict install -e production -d {{ STAGING_DOMAIN }} -m {{ STAGING_EMAIL }}
      register: init_app
      changed_when: init_app.rc == 0

    - name: Build new frontend image
      ansible.builtin.command:
        cmd: /usr/bin/docker build --no-cache -t socialpredict-staging-frontend -f /opt/socialpredict/docker/frontend/Dockerfile /opt/socialpredict/
      register: frontend_output
      failed_when: frontend_output.rc != 0
      changed_when: frontend_output.rc == 0

    - name: Build new backend image
      ansible.builtin.command:
        cmd: /usr/bin/docker build --no-cache -t socialpredict-staging-backend -f /opt/socialpredict/docker/backend/Dockerfile /opt/socialpredict/
      register: backend_output
      failed_when: backend_output.rc != 0
      changed_when: backend_output.rc == 0

    - name: Replace Frontend Image Name in Env
      ansible.builtin.lineinfile:
        path: /opt/socialpredict/.env
        regexp: '^FRONTEND_IMAGE_NAME='
        line: FRONTEND_IMAGE_NAME='socialpredict-staging-frontend'

    - name: Replace Backend Image Name in Env
      ansible.builtin.lineinfile:
        path: /opt/socialpredict/.env
        regexp: '^BACKEND_IMAGE_NAME='
        line: BACKEND_IMAGE_NAME='socialpredict-staging-backend'

    - name: Start new containers
      ansible.builtin.command:
        cmd: /opt/socialpredict/SocialPredict up
      register: start_output
      changed_when: start_output.rc == 0

    - name: Update Admin Password
      ansible.builtin.command:
        cmd: >-
          docker exec -i socialpredict-postgres-container
          /usr/local/bin/psql -U user -d socialpredict_db
          -c "UPDATE users SET password = '{{ ADMIN_PASSWORD }}', must_change_password = false WHERE username = 'admin'
      register: change_admin
      changed_when: change_admin.rc == 0
