- name: Deploy SocialPredict To Production
  hosts: digital_ocean
  gather_facts: false
  become: true
  vars:
    db_pass: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters') }}"

  tasks:
    - name: Check if .env file exists
      ansible.builtin.stat:
        path: /opt/socialpredict/.env
      register: env_file

    - name: Get Docker Images
      community.docker.docker_host_info:
        images: true
      register: image_info

    - name: Stop old containers
      ansible.builtin.command:
        cmd: /usr/bin/docker compose --env-file /opt/socialpredict/.env --file /opt/socialpredict/scripts/docker-compose-prod.yaml down -v
      register: stop_output
      changed_when: stop_output.rc == 0
      when: env_file.stat.islnk is defined

    - name: Delete Old Images
      community.docker.docker_image:
        name: "{{ item.RepoTags | first }}"
        state: absent
      when: >-
        item.RepoTags is search('ghcr.io/openpredictionmarkets/socialpredict-frontend:latest')
        or item.RepoTags is search('ghcr.io/openpredictionmarkets/socialpredict-backend:latest')
      loop: "{{ image_info.images }}"
      loop_control:
        label: "{{ item.RepoTags | first }}"

    - name: Pull code from repository's main branch
      ansible.builtin.git:
        repo: 'https://github.com/openpredictionmarkets/socialpredict'
        dest: /opt/socialpredict
        single_branch: true
        version: main

    - name: Initialize Application
      ansible.builtin.command:
        cmd: /opt/socialpredict/SocialPredict install -e production -d {{ PRODUCTION_DOMAIN }} -m {{ PRODUCTION_EMAIL }} 
      register: init_app
      changed_when: init_app.rc == 0

    - name: Start new containers
      ansible.builtin.command:
        cmd: /opt/socialpredict/SocialPredict up
      register: start_output
      changed_when: start_output.rc == 0

    - name: Update Admin Password
      ansible.builtin.command:
        cmd: docker exec -i socialpredict-postgres-container /usr/local/bin/psql -U user -d socialpredict_db -c "UPDATE users SET password = '{{ ADMIN_PASSWORD }}', must_change_password = false WHERE username = 'admin'
