name: Deploy to Staging with Ansible

on:
  workflow_dispatch:
  workflow_call:

jobs:
  deploy:
    name: Deploy Ansible Playbook
    runs-on: ubuntu-24.04
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up SSH
        run: |
          echo "${{ secrets.STAGING_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - name: Install Ansible
        shell: bash
        run: |
          sudo apt update
          sudo apt install software-properties-common
          sudo add-apt-repository --yes --update ppa:ansible/ansible
          sudo apt install -y ansible

      - name: Run Ansible Playbook
        env:
          STAGING_USER: ${{ secrets.STAGING_USER }}
          ANSIBLE_HOST_KEY_CHECKING: False
        run: |
          ansible-playbook -i inventory/staging.yml playbooks/deploy_staging.yml --private-key private_key.pem -u '${{ secrets.STAGING_USER }}' --extra-vars "STAGING_HOST='${{ secrets.STAGING_HOST }}' STAGING_PORT='${{ secrets.STAGING_PORT }}' STAGING_DOMAIN='${{ secrets.STAGING_DOMAIN }}' STAGING_EMAIL='${{ secrets.STAGING_EMAIL }}' ansible_become_pass='${{ secrets.STAGING_PASSWORD }}'"
